task*.txt
TLV*
__MACOSX/*
schesim*
*schesim/*
doc/*
*/doc/
tags
\#*#
*.bak
*.png
*.plt
*.dat
*.log
*task.json
*proc.json
*require.json
*group.json
json
debug*
!/testFolder/*.json
120927/json_analysis_for_long/*
AB*
AB_schesim*
2CPU2TASK*
tmp*
